@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared Style Section */
.btn-primary{
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 52px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: rgb(254, 163, 1);
}

.btn-secondary{
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 41px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(17, 17, 17);
}

/* Header Style Section */
#header-section{
    background-color: rgb(247, 247, 247);
}

/* Nav Style Section */
nav {
    padding: 20px 0 0 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.logo-section > h1 {
    font-family: Quicksand;
    font-size: 28px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

nav>ul {
    display: flex;
    gap: 28px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

nav ul li .nav-home {
    color: rgb(254, 163, 1);
}
nav ul li .nav-about {
    color: rgb(1, 172, 253);
}
nav ul li .nav-facilities{
    color: rgb(5, 212, 223);
}
nav ul li .nav-admission {
    color: rgb(93, 88, 239);
}

/* Banner Style Section */
#banner-section{
    max-width: 1019px;
    margin: 0 auto;
    margin-bottom: 52px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.banner-content{
    max-width: 563px;
}

.banner-title {
    font-family: Quicksand;
    font-size: 49px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 3px;
    color: rgb(17, 17, 17);
    margin-bottom: 21px;
}

.ban-tit-f{
    color: rgb(254, 163, 1);
}
.ban-tit-s{
    color: rgb(1, 172, 253);
}

.banner-description {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(17, 17, 17);
    margin-bottom: 21px;
}

.banner-image{
    max-width: 468.61px;
}

.banner-image > img {
    width: 100%;
}



/* Responsive Style Section */
@media screen and (max-width:576px) {
    .btn-primary{
        display: none;
    }

    .logo-section > h1{
        display: none;
    }

    #banner-section{
        flex-direction: column-reverse;
    }

    .banner-content{
        text-align: center;
    }

    .banner-title{
        font-size: 32px;
        line-height: 40px;
    }
    .banner-description{
        font-size: 14px;
    }
}